<form [formGroup] = "myForm" (ngSubmit)="registrar()">
    <div>
        <label for="">Nombre</label>
        <input type ="text" formControlName="nombre">
    </div>
    <div *ngIf = "myForm.get('nombre').errors && myForm.get('nombre').dirty">
        <p *ngIf="myForm.get('nombre').hasError('required')">El campo es obligatorio</p>
    </div>
    <div>
        <label for="">Apellido</label>
        <input type ="text" formControlName="apellido">
    </div>
    <div *ngIf = "myForm.get('apellido').errors && myForm.get('apellido').dirty">
        <p *ngIf="myForm.get('apellido').hasError('required')">El campo es obligatorio</p>
    </div>
    <div>
        <label for="">Telefono</label>
        <input type ="text" formControlName="telefono">
    </div>
    <div>
        <label for="">Email</label>
        <input type ="text" formControlName="email">
    </div>
    <div *ngIf = "myForm.get('email').errors && myForm.get('email').dirty">
        <p *ngIf="myForm.get('email').hasError('required')">El campo es obligatorio</p>
        <p *ngIf="myForm.get('email').hasError('pattern')">El email es incorrecto</p>
    </div>
    <div>
        <label for="">Password</label>
        <input type ="text" formControlName="password" 
        [ngClass] = "{  error:  myForm.get('password').hasError('required') && myForm.get('password').dirty,
                        warning:myForm.get('password').hasError('minlength') && myForm.get('password').dirty}">
    </div>
    <div *ngIf = "myForm.get('password').errors  && myForm.get('password').dirty">
        <p *ngIf="myForm.get('password').hasError('required')">El campo es obligatorio</p>
        <p *ngIf="myForm.get('password').hasError('minlength') || myForm.get('password').hasError('maxlength')">
            El campo debe tener entre 6 y 8 caracteres.
        </p>
    </div>
    <input [disabled]="myForm.invalid" type="submit" value="Ingresar">
</form>